
.container{
    display: flex;
    width: 500px;
    height: 300px;
    border: 5px solid #fff;
    align-items: flex-start;
    flex-wrap: wrap;
}


















/*
@media (min-width: 900px) {
    .container{
        flex-direction: column;
    }
}
*/