body{
background-color: rgba(255, 72, 0, 0.877);

}

.container *{
    background-color: rgb(255, 255, 255, 0.25);
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 150ms ease;
}

.container *:hover{
    background-color: rgba(255, 255, 255, 0.4);
}