:root {
	--header: 100vh;
	--footer: 40px;
	--main: calc(100vh - calc(var(--header) + var(--footer)));
}

body{
    background-color: rgba(255, 72, 0, 0.877);
    
    }
    
    .container *{
        background-color: rgb(255, 255, 255, 0.25);
        border-radius: 3px;
        border: 1px solid #fff;
        color: #fff;
        margin: 10px;
        padding: 20px;
        text-align: center;
        transition: all 150ms ease;
    }
    
    .container *:hover{
        background-color: rgba(255, 255, 255, 0.4);
    }


    .container{
        display: flex;
        justify-content: center;
        margin: 3rem;
    }


    #fora {
        width: 100vh;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #dentro{
        position: absolute;
        display: flex;
        width: min(1700px, 100%);
        height: min(100px, 100%);
        justify-content: center;
        align-items: center;
    }